<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="source" type="xstring" value="URI"/>
<entry key="target" type="xstring" value="/user/cloudera/debs"/>
<entry key="overwritepolicy" type="xstring" value="Overwrite"/>
<entry key="pathhandling" type="xstring" value="Use only filename"/>
<entry key="prefix" type="xstring" value=""/>
<entry key="abortonfail" type="xboolean" value="true"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="ERROR"/>
<entry key="message" type="xstring" value="Execute failed: Failed on local exception: com.google.protobuf.InvalidProtocolBufferException: Protocol message end-group tag did not match expected tag.; Host Details : local host is: &quot;wlan-141-23-70-88.tubit.tu-berlin.de/141.23.70.88&quot;; destination host is: &quot;clouderavm&quot;:50070; "/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.filehandling.upload2.UploadNodeFactory"/>
<entry key="node-name" type="xstring" value="Upload"/>
<entry key="node-bundle-name" type="xstring" value="KNIME File Handling Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.filehandling"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.11.2.0046096"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Upload"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
