<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Loop_0">
<entry key="type" type="xstring" value="loopcontext"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="RowID"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value=""/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="ns"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="s"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_4">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="min"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_5">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="h"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_6">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="day"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_7">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="month"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_8">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="year"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_9">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc23"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_10">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc22"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_11">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc21"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_12">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc20"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_13">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc19"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_14">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc06"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_15">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc05"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_16">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc04"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_17">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc03"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_18">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc02"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_19">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc01"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_20">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp36"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_21">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp35"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_22">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp34"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_23">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp33"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_24">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp32"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_25">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp31"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_26">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp21"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_27">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp20"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_28">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp19"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_29">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp18"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_30">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp17"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_31">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp16"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_32">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp15"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_33">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp14"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_34">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp13"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_35">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp12"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_36">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp11"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_37">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp10"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_38">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp09"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_39">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp08"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_40">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp07"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_41">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp06"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_42">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp05"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_43">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp04"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_44">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp03"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_45">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp02"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_46">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp01"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_47">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm10"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_48">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm09"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_49">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm08"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_50">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm07"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_51">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm06"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_52">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm05"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_53">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="res"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_54">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc27"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_55">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc26"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_56">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc25"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_57">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc15"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_58">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc14"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_59">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc13"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_60">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="mf03"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_61">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="mf02"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_62">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="mf01"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_63">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="index"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_64">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="maxIterations"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_65">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="currentIteration"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Loop_Execute_66">
<entry key="type" type="xstring" value="loopcontext_execute"/>
</config>
<config key="Variable_67">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="RowID"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="Row4999"/>
</config>
<config key="Variable_68">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="ns"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="4714267"/>
</config>
<config key="Variable_69">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="s"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="26"/>
</config>
<config key="Variable_70">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="min"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="23"/>
</config>
<config key="Variable_71">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="h"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="17"/>
</config>
<config key="Variable_72">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="day"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="22"/>
</config>
<config key="Variable_73">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="month"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="2"/>
</config>
<config key="Variable_74">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="year"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="2012"/>
</config>
<config key="Variable_75">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc23"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_76">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc22"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_77">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc21"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_78">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc20"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_79">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc19"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_80">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc06"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_81">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc05"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_82">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc04"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_83">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc03"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_84">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc02"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_85">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc01"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_86">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp36"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_87">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp35"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_88">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp34"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_89">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp33"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_90">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp32"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_91">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp31"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_92">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp21"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_93">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp20"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_94">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp19"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_95">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp18"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_96">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp17"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="1"/>
</config>
<config key="Variable_97">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp16"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="1"/>
</config>
<config key="Variable_98">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp15"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_99">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp14"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_100">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp13"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_101">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp12"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_102">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp11"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_103">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp10"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_104">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp09"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_105">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp08"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="1"/>
</config>
<config key="Variable_106">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp07"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_107">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp06"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_108">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp05"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_109">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp04"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_110">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp03"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_111">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp02"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_112">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pp01"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_113">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm10"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_114">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm09"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_115">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm08"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_116">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm07"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_117">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm06"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_118">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="bm05"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_119">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="res"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_120">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc27"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_121">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc26"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_122">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc25"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="0"/>
</config>
<config key="Variable_123">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc15"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="1779"/>
</config>
<config key="Variable_124">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc14"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="200"/>
</config>
<config key="Variable_125">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="pc13"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="71"/>
</config>
<config key="Variable_126">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="mf03"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="8581"/>
</config>
<config key="Variable_127">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="mf02"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="14626"/>
</config>
<config key="Variable_128">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="mf01"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="13447"/>
</config>
<config key="Variable_129">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="index"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="2777000"/>
</config>
<config key="Variable_130">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="maxIterations"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="5000"/>
</config>
<config key="Variable_131">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="currentIteration"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="4999"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="CFG_FAILONMISS_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CFG_FAILONMISS" type="xstring" value="Fail"/>
<config key="CFG_Integer_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="CFG_Integer" type="xint" value="0"/>
<config key="CFG_Double_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="CFG_Double" type="xdouble" value="0.0"/>
<config key="CFG_String_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="CFG_String" type="xstring" value=""/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.variableloophead.LoopStartVariableNodeFactory"/>
<entry key="node-name" type="xstring" value="Table Row To Variable Loop Start"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.11.0.0045443"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Table Row To Variable Loop Start"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
<entry key="port_object_summary" type="xstring" value="Variables connection"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
