<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="driver" type="xstring" value="org.apache.hive.jdbc.HiveDriver"/>
<entry key="database" type="xstring" value="jdbc:hive2://clouderavm:21050/default;auth=noSasl"/>
<entry key="user" type="xstring" value="cloudera"/>
<entry key="password" type="xstring" value=""/>
<entry key="timezone" type="xstring" value="current"/>
<entry key="validateConnection" type="xboolean" value="false"/>
<entry key="retrieveMetadataInConfigure" type="xboolean" value="false"/>
<entry key="allowSpacesInColumnNames" type="xboolean" value="true"/>
<entry key="rowIdsStartWithZero" type="xboolean" value="true"/>
<entry key="databaseIdentifier" type="xstring" value="impala"/>
<config key="default-connection">
<entry key="hostname" type="xstring" value="clouderavm"/>
<entry key="port" type="xint" value="21050"/>
<entry key="databaseName" type="xstring" value="default"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="com.knime.bigdata.impala.node.connector.ImpalaConnectorNodeFactory"/>
<entry key="node-name" type="xstring" value="Impala Connector"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Cloudera Impala Connector"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="com.knime.bigdata.impala"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME.com, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="1.0.0.0046797"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Impala Connector"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.database.DatabaseConnectionPortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.database.DatabaseConnectionPortObject"/>
<entry key="port_object_summary" type="xstring" value="DB: impala URL: jdbc:hive2://clouderavm:21050/default;auth=noSasl"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="9a84f6a3-d585-47ca-8be4-36481581adba"/>
</config>
</config>
